<div class="bg">
  <!-- [style.background-image]="'url(/assets/icons/rhombus.svg)'"
     style="background-position: center; background-repeat: no-repeat; background-size: cover;"-->
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="body" [style.background-image]="tale.image">
    <div class="container">
      <div class="left"></div>
      <div class="right">
        <app-tale-navigation
          class="navigator"
          color="#E5E5E5"
          [page]=tale.order
          [total]=3
        ></app-tale-navigation>
      </div>
    </div>
  </div>
</div>

<!--<div class="front">-->
<!--&lt;!&ndash;  <div style="&ndash;&gt;-->
<!--&lt;!&ndash;        height: 100%;&ndash;&gt;-->
<!--&lt;!&ndash;        width: 100%;&ndash;&gt;-->
<!--&lt;!&ndash;        position: absolute;&ndash;&gt;-->
<!--&lt;!&ndash;        background-image: url(/assets/icons/rhombus.svg);&ndash;&gt;-->
<!--&lt;!&ndash;        background-position: center;&ndash;&gt;-->
<!--&lt;!&ndash;        background-repeat: no-repeat;&ndash;&gt;-->
<!--&lt;!&ndash;        background-size: cover;&ndash;&gt;-->
<!--&lt;!&ndash;      "&ndash;&gt;-->
<!--&lt;!&ndash;  ></div>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-inner-rhombus style="height: 100%; width: 100%; position: absolute"></app-inner-rhombus>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-outer-rhombus style="height: 100%; width: 100%; position: absolute"></app-outer-rhombus>&ndash;&gt;-->
<!--</div>-->
