.bg-img {
  height: 100%;
  position: relative;
}

.body-center-white-frame {
  position: absolute;
  border: 2px solid white;
  width: 100%;
  height: 100%;
}

.blurred {
  background:
    linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
    url('~/assets/background-2.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.default {
  background:
    linear-gradient(rgba(255,255,255,.0), rgba(255,255,255,.0)),
    url('~/assets/background-2.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
