.bg {
  height: 100%;
  background-color: #646B74;
}

.body {
  height: 800px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  display: flex;
}

.left {
  height: 100%;
  width: 70%;
  float: left;
  display: block;
}

.right {
  height: 100%;
  width: 30%;
  float: right;
  display: inline-block;
}

.navigator {
  margin-top: 50%;
  width: 100px;
  display: block;
}
