.top-paging-digit {
  height: calc(50% - 2px);
  color: #38241A;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-paging-digit {
  height: calc(50% - 2px);
  color: #38241A;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.paging-progress-indicator {
  height: 4px;
  width: 100%;
}
