.front-left-column {
  width: 80%;
  float: left;
}

.front-right-column {
  width: 20%;
  height: 100%;
  float: right;
}

.left-container {
  padding: 5%;
}

.right-container {
  height: 100%;
  padding: 10px;
}
