<div [style.color]="color">
  <div class="top-paging-digit">{{current}}</div>
  <app-progress-bar class="paging-progress-indicator"></app-progress-bar>
  <div
      class="bottom-paging-digit"
      [tooltip]="title"
      [style.font-size]="isNavigated || this.overlayService.visible ? '80px' : '60px'"
      (mouseenter)="isNavigated = true"
      (mouseleave)="isNavigated = false"
      (click)="onClickBottomDigit($event, tpl)">
    {{total}}
  </div>
</div>

<ng-template #tpl>
  <div class="modal-card">
    <section class="modal-card-body">
      <app-pic-galery [isVisible]="this.overlayService.visible"></app-pic-galery>
    </section>
  </div>
</ng-template>
