.top-paging-digit {
  height: calc(50% - 2px);
  color: #38241A;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bottom-paging-digit {
  height: calc(50% - 2px);
  color: #38241A;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.paging-progress-indicator {
  height: 4px;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
