<div class="top-paging-digit">
  {{first}}
</div>

<div class="paging-progress-indicator">
  <app-progress-bar></app-progress-bar>
</div>

<div style="width: 100%; height: 80px">
  <div class="bottom-paging-digit" title="Перейти к историям"
       [style.font-size]="isNavigated || (this.pictureGalleryService.visible | async) ? '80px' : '60px'"
       (mouseenter)="onNavigateMouseOnBottomDigit($event)"
       (mouseleave)="onNavigateMouseOutBottomDigit($event)"
       (click)="onClickBottomDigit($event)">
    {{last}}
  </div>
</div>

<app-pic-galery [isVisible]="this.pictureGalleryService.visible | async"></app-pic-galery>
