.bg {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient {
  height: 80%;
  width: 90%;
  left: 5%;
  background: linear-gradient(242.27deg, #988B82 5.75%, rgba(152, 139, 130, 0) 49.46%);
}

.frame {
  position: relative;
  height: 80%;
  width: 80%;
  top: 10%;
  left: 10%;
  border: 2px solid white;
}

.left {
  height: 100%;
  width: 80%;
  float: left;
}

.right {
  height: 100%;
  width: 20%;
  float: right;
}
