.bg {
  height: 100%;

  background-image: url('/assets/white-snake-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-center-white-frame {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border: 2px solid white;
}

.left {
  height: 100%;
  width: 80%;
  float: left;
}

.right {
  height: 100%;
  width: 20%;
  float: right;
}
