.body-center-white-frame {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border: 2px solid white;
}

.blurred {
  background:
    linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),
    url('~/assets/background-frameless.svg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
