<div [style.color]="color">
  <div class="top-paging-digit">0{{currentPage}}</div>
  <app-progress-bar class="paging-progress-indicator" [page]="currentPage"></app-progress-bar>
  <div
      class="bottom-paging-digit"
      [tooltip]="title"
      [style.font-size]="isNavigated || this.overlayService.visible ? '80px' : '60px'"
      (mouseenter)="isNavigated = true"
      (mouseleave)="isNavigated = false"
      (click)="onClickBottomDigit($event, overlay)">
    0{{total}}
  </div>
</div>

<ng-template #overlay>
  <app-pic-gallery
    *ngIf="this.overlayService.visible"
    [tales]="tales"
    (select)="onSelect($event)"
  ></app-pic-gallery>
</ng-template>
