.bg-img {
  height: 100%;
  position: relative;
  background-image: url('~/assets/background-frameless.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-center-white-frame {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  border: 2px solid white;
}
