<div class="bg-img">

  <!-- menu header -->
  <div class="menu-header">
    <div class="menu-header-btn-template">
      <button class="menu-btn" title="click here"></button>
    </div>
    <div class="menu-header-tales-list-template">
      <app-menu-button [title]="'список историй'"></app-menu-button>
    </div>
    <div class="menu-header-gallery-template">
      <app-menu-button [title]="'галлерея'"></app-menu-button>
    </div>
  </div>

  <!-- body -->
  <div class="center-container">
    <div class="center-pic-btn-template">
      <div class="center-pic-title">NEW WORLD</div>
      <button class="center-pic-btn"></button>
    </div>
  </div>
</div>
