.picture-title {
  position: absolute;
  padding-top: 5%;
  padding-left: 18%;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  letter-spacing: 4px;
  font-weight: bold;
}

.picture-btn {
  background-image: url('~/assets/center-pic-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  position: relative;
}

.normal-front-button-container {
  position: absolute;
  width: 75%;
  height: 80%;
  padding: 5%;
}

.full-front-button-container {
  position: absolute;
  width: 80%;
  height: 100%;
}
